<h1>All Classes</h1>
<br>
<% @lessons.each do |lesson| %>
<p><%= link_to lesson.name, lesson_path(lesson) %>, <%= Time.at(lesson.date).strftime("%B %e, %Y at %I:%M %p") %></p>
<% end %>
<br>
<%=button_to "Book a class", new_appointment_path, :method => :get%>
<br>
<%=button_to "Advanced Search", new_search_path, :method => :get%>