<br>

<a class= "classbutton" href="<%=new_appointment_path%>" role="button">Book a class &raquo;</a>
&emsp;&nbsp;
<a href="<%=new_search_path%>" role="button">Advanced Search &raquo;</a><br><br>

<table class="table table-striped ">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Time & Date</th>
        </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
    <tr>
      <td><%= link_to lesson.name, lesson_path(lesson) %></td>
      <td><%= Time.at(lesson.date).strftime("%B %e, %Y at %I:%M %p") %></td>
    </tr>
      <% end %>
  </tbody>
</table>


