header{
    top : 0;
    text-align : center;
    font-size : 24pt;
    background-color: #193A94;
    padding:15px;
    color: whitesmoke;
    width: 100%;
    font-family: 'Literata', serif;
}

nav{
    text-align : center;
    font-size : 14pt;  
    padding: 10px; 
    background-color:#193A94;
    color: whitesmoke;
    
}

.nav_elements {
    color: whitesmoke;
    text-decoration:none;
  }

.page{
    width: 94%;
    margin-left: 3%
}

.new_user{
    text-align: center;
    padding: 10px;
    background: #193A94;
    width: 30%;
    align-items: center;
    color: whitesmoke;
    position: relative;
    top: 23%;
    border-radius: 150px;
    font-family: 'Literata', serif;
    margin-left: 53%;
}



footer{
    bottom : 0;
    text-align : center;
    background-color: #193A94;
    color: whitesmoke;
    margin: 0px;
}

h1{
   position: relative;
   top: 10px;
   text-align : center;
   font-family: 'Literata', serif;
}

.login_page{
    background-color: hsv(#193A94);
}

#login_background{
    background-image: url("http://www.portoalegre.travel/upload/b/26/261645_dog-hd-wallpaper-1080p.jpg");
    width: 100%;
    background-size: cover;
    height:95vh;
    background-position-y: 15%;
    background-position-x: -5%
    
}

#login_section{
    text-align: center;
    padding: 15px;
    background: #193A94;
    width: 25%;
    margin-left: 50%;
    align-items: center;
    color: whitesmoke;
    position: relative;
    top: 8%;
    border-radius: 150px;
    font-family: 'Literata', serif;
}

#user_form{
    position: relative;
    /* left: 3%; */
    right: 20%;
    
}

#pet_pic{
    height:200px;
    width:auto;
}

#footer{
    width: 100%;
    padding: 2%;
}


