<h1><%= @trainer.name %></h1>

<h2>Bio: <%= @trainer.bio %></h2>
<h2>Classes <%= @trainer.name %> teaches: </h2>
<h3><% @trainer.lessons.each do |lesson| %>
  <%=link_to lesson.name, lesson_path(lesson)%>
  <br>
<% end %></h3>