<br>
<h1><%= @trainer.name %></h1>
<br>
<div class="page">
<h3>Bio: <%= @trainer.bio %></h3>
<br>
<h3>Classes <%= @trainer.name %> teaches: </h3>
<br>
<h4><% @trainer.lessons.each do |lesson| %>
  <%=link_to lesson.name, lesson_path(lesson)%>
  <br>
<% end %>
</h4>